Source: shadowsocks-libev
Section: net
Priority: extra
Maintainer: Kun Wang <ifreedom.cn@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/shadowsocksr-rm/shadowsocksr-libev
#Vcs-Git: git://git.debian.org/collab-maint/shadowsocks-libev.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/shadowsocks-libev.git;a=summary

Package: shadowsocks-libev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: lightweight and secure socks5 proxy
 Shadowsocks-libev is a lightweight and secure socks5 proxy for
 embedded devices and low end boxes.